# Ignore binaries that start with "miniweather_"
miniweather_mpi
miniweather_openacc
miniweather_mpi_openacc
miniweather_hybrid
miniweather_serial
miniweather_openmp

# Ignore any cached or temporary files
*.o
*.out
*.exe

# Ignore all result artifacts
/results/
/results/**
/results/*

# (Optional) explicitly ignore common result file types
results/**/*.csv
results/**/*.err
results/**/*.log
results/**/*.txt


# Python virtual environment
.venv/
__pycache__/